header {
  text-align: center;
  background-color: #333;
  color: #eee;
}

section {
  margin: 0 auto;
  width: 990px;
  text-align: center;
}

footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding: 5px;
}

table {
  width: 100%;
}

td:first-child {
  text-align: left;
  font-weight: bold;
}

td:last-child {
  text-align: right;
}

img {
  width: 300px;
  height: 300px;
  border: 1px solid #eee;
}

button {
  margin: 30px 10px;
  padding: 4px 8px;
}

#albums {

}

#assets {
  clear: both;
  margin-top: 20px;
}

.album {
  float: left;
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #eee;
  font-size: 12px;
  color: #333;
  border-radius: 4px;
}

.asset {
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: #333;
  font-size: 12px;
  color: #eee;
  border-radius: 4px;
}
